body{
    width: 1020px;
    margin: 0 auto;
}

.title
{
    margin : 10px; color: magenta;
    font-size : 250%;
    font-family: Georgia, serif;
}

.submit
{
    margin : 5px; padding: 2px;
    background-color: lightgreen; color: black;
    height: 20px; width: 50px;
    text-align: center; font-size : 50%;
}

.cancle
{
    margin : 5px; padding: 2px;
    background-color: lightcoral; color: black;
    height: 20px; width: 50px;
    text-align: center; font-size : 50%;
}

.click
{
    margin : 7px; padding: 5px;
    border: 3px solid cyan;
}

.normal
{
    margin : 0px; padding: 5px;
    border: 3px solid black;
}

.selected
{
    margin : 0px; padding: 5px;
    border: 3px solid red;
}

.move_to_left
{
    animation: movingtitle linear 5s;
}

@keyframes movingtitle
{
    from{
        margin-left: 100%;
        width: 300%;
    }

    to{
        margin-left: 0%;
        width: 100%;
    }
}
.border
{
    height: 500px; width: 500px; 
    border: 1px solid black;
}

.rotaition
{
    margin : 0px; 
    transition: transform 2s;
}
.rotaition:hover
{
    transform: rotate(360deg);
}

.growup
{
    margin : 0px;
    height: 50px; width: 50px;
    transition: all ease 2s;
}
.growup:hover
{
    height: 500px; width: 500px;
}
